* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}

.wrapper {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #565264;
}

.nav-container {
    background-color: #A6808C;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

nav {
    /* border: 1px solid red; for debugging */
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

.video-container,
.charity-container,
.website-container, 
.resource-container {
    /* border: 1px solid red; for debugging */
    background-color: #CCB7AE;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
}

.webLinks {
    margin-bottom: 75px;
}

.webLinks,
.resourceLinks,
.charityCauses {
    display: flex;  
    justify-content: center;
    justify-items: space-around;  
    padding: 10px;
    /* border: 1px solid red; for debugging */
}

#memeLink,
#imgLink {
    height: 100px;
    width: auto;   
    padding: 10px; 
    border-radius: 15px;
}

h1,
h2,
h3 {
    text-align: center;
    padding: 10px;
    background-color: #CCB7AE; 
}
 
.youtube-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.footer-container {
    background-color: #A6808C;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

#danny {
    position: fixed;
    bottom: 0;
    height: 100px;
}

.videoLink {
    padding: 5px;
}