* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}

.navbar {
    background-color: #A6808C;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    margin-bottom: 100px;
  }
 
  .navbar a {
    float: left;
    color: #565264;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .navbar a:hover {
    background-color: #CCB7AE;
    color: #706677;
  }
 
  .navbar a.active {
    background-color:#565264;
    color:#CCB7AE;
  }

body {
    background-image: url(https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492120428/articles/2016/01/24/danny-devito-is-feeling-the-bern-despises-disgusting-donald-trump/160123-stern-devito-tease_iy4lx3);
    padding-left: 50px;
    padding-right: 50px; 
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* .nav-container {
    background-color: #A6808C;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
} */

/* nav {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
} */

.video-container,
.charity-container,
.website-container, 
.resource-container {
    /* border: 1px solid red; for debugging */
    background-color: rgba(94, 33, 33, 0.35);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
}

.resource-container {
    margin-top: 60px;
}

/* .webLinks {
    margin-bottom: 75px;
} */

.webLinks,
.resourceLinks,
.charityCauses {
    display: flex;  
    justify-content: center;
    justify-items: space-around;  
    padding: 10px;
    opacity: 1;
    /* border: 1px solid red; for debugging */
}

#memeLink,
#imgLink {
    height: 100px;
    width: auto;   
    padding: 10px; 
    border-radius: 15px;
    opacity: 1;
}

h1,
h2,
h3 {
    text-align: center;
    padding: 10px;
    background-color: #CCB7AE; 
}

h4 {
    text-align: center;
    padding: 10px;
    background-color: #A6808C; 
}
 
.youtube-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.footer-container {
    background-color: #A6808C;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

#danny {
    position: fixed;
    bottom: 0;
    height: 100px;
}

.videoLink {
    padding: 5px;
    margin-top: 30px;
}

@media (max-width:1000px) {
    
.webLinks,
.resourceLinks,
.charityCauses {
    display: flex;  
    justify-content: center;
    justify-items: space-around;  
    flex-wrap: wrap;
    padding: 10px;
    /* border: 1px solid red; for debugging */
}

#memeLink,
#imgLink {
    display: block;
    max-height: 150px;
    max-width: 150px;   
    height: auto;
    width: auto;
    padding: 10px; 
    border-radius: 15px;
    opacity: 1;
}

.videoLink {
    margin-bottom: 30px;
}
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .youtube-container {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
}