* {
    margin: 0px;
}
body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0;
    background-color: rgba(86, 82, 100, 0.7);
  }

  .navbar {
    background-color: #A6808C;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0%;
    box-shadow: 2px 2px 20px black;
    opacity: 0.6;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 60%;
  }
  
  .navbar:hover {
      opacity: 0.9;
  }
 
  .navbar a {
    float: left;
    color: #565264;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .navbar a:hover {
    background-color: #CCB7AE;
    color: #706677;
  }
 
  .navbar a.active {
    background-color:#565264;
    color:#CCB7AE;
  }

/* .page-title{
    margin-top: 80px;
} */

  h1 {
      display: flex;
      justify-content: center;
      background-color: #D6CFCB; 
      color: #565264;
      border: solid #A6808C;
      margin-top: 80px;
  }

  h2 {
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin: 20px 0px;
      font-size: 2em;
  }

  .spouse-headshot p {
    display: flex;
    justify-content: center;
  }

  .danny-container {
    margin: 1px 10px 1px 10px;
    display: flex;
    justify-content: center;
  }
  
  .devito-personal {
      display: flex;
      justify-content: space-around;
      /* background-color:#D6CFCB; */
      /* border: black solid; */
      margin-top: 20px;
      color: #D6CFCB;
      font-weight: bold;
  }
  .devito-personal-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
  }

   .danny-headshot {
      width: 30%;
      height: 30%;
      padding: 8px;
      margin: 10px;
  } 

  /* .danny-headshot2 {
    width: 30%;
    height: 30%;
    padding: 8px;
    margin: 10px;
}  */
  .rhea-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color:#D6CFCB; */
    /* border: black solid; */
    margin: 12px 10px 12px 10px;
    color:  #D6CFCB;
    font-weight: bold;
}


 .children-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#D6CFCB;
    border: black solid;
    /* margin: 1px 10px 1px 10px; */
 }

 .main-child-container {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 /* background-color:#D6CFCB; */
 /* border: 1px solid black; */
 margin: 1px 10px 1px 10px; 
}

.child-container {
    color: #D6CFCB;
}
 
.children {
    /* background-color: red; */
    justify-content: space-around;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    /* /* border: 1px solid black;
    border-radius: 20px; */
}  
  
.children img {
    border-radius: 20px;
}


 .married {
     height: 300px;
     border-radius: 20px;
 }

 .child__photo {
     display: flex;
     height: 90%;
     width: 90%;
     /* border: 1px solid yellow; */
 }

 /* .children h4 {
     /* border: 1px solid green;
 } */ 


  #vomitingDevito { 
      display: flex;
      justify-content: flex-end;
      height: 100px;
      position: fixed;
      bottom: 0;
  }

  .footer-container {
    background-color: #A6808C;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    color: #D6CFCB;
 }
 #danny-transparent img {
     position: fixed;
     bottom: 0px;
     width: 100px;
 }
 .footer-icon {
    display: flex;
    justify-content: center;
 }
 
 .footer-icon > a > img {
    height: 20px;
    margin: 10px;
 }
 